.details {
  padding: 50px 45px;
}

.created {
  font-size: 12px;
  color: #828387;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.created .div {
  margin: 0 5px;
}

.created .user {
  color: #61b3de;
  text-transform: none;
}

.url {
  font-size: 24px;
  color: #36383b;
  margin-bottom: 30px;
}

.sid {
  font-size: 12px;
  color: #ee6123;
  margin-right: 20px
}

.btnAction {
  font-size: 10px;
  color: #ee6123;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #ee6123;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #ee6123;
  }
}

.stats {
  position: relative;

  .total {
    font-size: 11px;
    color: #828387;
    text-transform: uppercase;
    position: absolute;
    top: 10px;

    .value {
      font-size: 20px;
      color: #36383b;
      margin-right: 7px;
    }

    .icon {
      font-size: 16px;
    }
  }
}

.pieCharts {
  display: flex;

  .left,
  .right {
    width: 50%;
  }
}

.timeChart {
  border-top: 1px solid #d3d4d7;
  border-bottom: 1px solid #d3d4d7;
  padding: 70px 0 60px;
  margin: 40px 0 90px;
}
