.errorAlert {
  text-align: center;
  background-color: #fee6e4;
  border: 1px solid #e88b83;
  border-radius: 5px;
  width: 270px;
  padding: 15px 10px;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  opacity: 0;
}

.errorAlert .title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.errorAlert .text {
  font-size: 12px;
  color: #999;
}

.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
