.textInput {
  border: 1px solid #d3d4d7;
  border-radius: 3px;
  outline: none;
  padding: 12px 15px;
  width: 100%;

  &:focus {
    border-color: #ee6123
  }

  &::placeholder {
    text-transform: uppercase;
  }
}
